.home-main-box{
    height: 850px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.home-left{
    width: 40%;
    height: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.home-right{
    width: 40%;
    height: 80%;
    background-image: url(../../images/profile2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.home-main-box .home-left .buttons{
    display: flex;
    column-gap: 8px;
}
.home-main-box .home-left .buttons button{
    height: 35px;
    width: 120px;
    background: transparent;
    border: 1px solid #64ffda;
    cursor: pointer;
    transition: background 0.5s ease-in-out;
}
.home-main-box .home-left .buttons button a{
    color: #64ffda;
    text-decoration: none;
}
.home-main-box .home-left .buttons button:hover{
    background: #133040;
}
@media screen and (max-width:1000px){
    .home-main-box{
        padding: 10px;
        row-gap: 10px;
        height: auto;
        display: flex;
        flex-direction: column;
        width: 88vw;
    }
    .home-left, .home-right{
        width: 85%;
        height: 50vh;
    }
    .home-right{
        width: 85%;
        height: 54vh;
    }
}
@media screen and (min-width:750px) and (max-width:999px){
    .home-main-box{
        margin-left: 34px;
    }
}